body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: inherit;
  color: inherit;
}

ul,
li {
  list-style-type: none;
}

button,
input {
  background: transparent;
  cursor: pointer;
}

/* header */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-web-black {
  color: #2e2f42;
}

.menu-link {
  font-weight: 500;
  color: #2e2f42;
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

address {
  font-style: normal;
}
.contacts {
  color: inherit;
}
#email:hover,
#email:focus {
  color: #404bbf;
}

#phone:hover,
#phone:focus {
  color: #404bbf;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/* main */
.intro {
  background-color: #2e2f42;
}
.intro-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.intro-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
}

.intro-button:hover,
.intro-button:focus {
  background-color: #404bbf;
}

/* info */
.info-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}
.info-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/* Our Team */
.our-team {
  background-color: #f4f4fd;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}
.team-card {
  background-color: #fff;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-profesion {
  text-align: center;
}

/* Our Portfolio */
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}
.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/* footer */
.footer-section {
  background-color: #2e2f42;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-logo-web-white {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
}
